{% extends 'core/base.html' %}

{% block title %}Rapport sur l'État de l'Inventaire{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">Rapport sur l'État de l'Inventaire</h1>

    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Statut</th>
                            <th>Nombre d'équipements</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for equipment in equipments %}
                        <tr>
                            <td>{{ equipment.statut }}</td>
                            <td>{{ equipment.count }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
