<!DOCTYPE html>
<html>
<head>
    <title>Lettre de Mission</title>
    <style>
        body { font-family: sans-serif; }
        h1 { color: #333; }
    </style>
</head>
<body>
    <h1>Lettre de Mission</h1>
    <p><strong>Motif:</strong> {{ mission.motif }}</p>
    <p><strong>Conducteur:</strong> {{ mission.conducteur.username }}</p>
    <p><strong>Véhicule:</strong> {{ mission.vehicule.nom_vehicule }}</p>
    <p><strong>Site:</strong> {{ mission.site_concerne.site_id_client }}</p>
    <p><strong>Date de début:</strong> {{ mission.start_date }}</p>
    <p><strong>Date de fin:</strong> {{ mission.end_date }}</p>
    <p><strong>Membres de l'équipe:</strong>
        <ul>
            {% for member in mission.team_members.all %}
                <li>{{ member.username }}</li>
            {% endfor %}
        </ul>
    </p>
</body>
</html>
