{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% if object %}Modifier{% else %}Ajouter{% endif %} une Obligation Fiscale{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">{% if object %}Modifier{% else %}Ajouter{% endif %} une obligation fiscale</h1>

    <div class="card shadow mb-4">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Enregistrer</button>
                <a href="{% url 'finance:obligationfiscale_list' %}" class="btn btn-secondary">Annuler</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
